@charset "utf-8";

*{margin: 0;padding: 0;}

html,body,div,span,h1,h2,h3,h4,h5,p,a,img,dl,dt,dd,ul,ol,li,table,tr,th,td,form{margin:0;padding:0;border:0}

ol,ul,li{list-style:none}

body{font-size:12px; color:#353535; line-height:1.5em; background:#fff;font-family:hiragino sans gb,Verdana,simsun,tahoma,arial,\5b8b\4f53,sans-serif;-webkit-font-smoothing:subpixel-antialiased;}

table{border-collapse:collapse;border-spacing:0}

input,select,textarea{ font-size:12px}

a{text-decoration:none; color:#005bac}

a:hover{text-decoration:underline}

dfn{font-style: normal;}

.fl{ float:left}

.fr{ float:right}

.clear{ clear:both;}

.w960{ width:960px; margin: 0 auto; overflow: hidden;}
.w960_2{ width:960px; margin:0px auto;}

.l_w760{ width:760px; float:left; }
.r_w190{ width:190px; float:right;}

.l_w750{ width:750px; float:left; }
.r_w200{ width:200px; float:right;}

.l_w720{width:720px; float:left;}
.r_w230{width:230px; float:right;}

.l_w700{ width:700px; float:left; overflow:hidden}
.r_w250{ width:250px; float:right; overflow:hidden}

.l_w650{width:650px; float:left;}
.r_w300{width:300px;float:right;}

.l_w560{width:560px;float: left;}
.r_w330{width:330px;float: right;}

.l_w290{width:290px;float:left;}
.r_w660{width:660px; float:right;}

.l_w240{width:240px;float:left;}
.r_w710{width:710px; float:right;}

.l_w310{ width:310px; float:left; overflow:hidden}
.m_w370{ width:370px; float:left; overflow:hidden; margin:0 10px}
.r_w260{ width:260px; float:right; overflow:hidden}

.r_w640{ width:640px; float:right}
.r_w290{width:290px;float:right}

.l_w690{ width:690px; float:left}

.mtop5,.mt5{margin-top: 5px}
.mtop10,.mt10{ margin-top:10px;}
.mtop15{ margin-top:15px;}
.mtop20{ margin-top:20px;}
div.mtop20{ margin-top:20px;}
.mb10{margin-bottom: 10px;}
.mr10{margin-right:10px;display: inline;}
.ml10{margin-left:10px;display: inline;}

.txt_c{text-align:center;}
.txt_l{text-align:left;}
.txt_r{text-align:right;}
.pos_re{position: relative;}
.hidden{display: none;}
.overflow{overflow: hidden;}
.no_bor{border: 0}


/*header*/
.header{height:52px; padding:10px 0 5px 0}
.header h1,.header h1 a{ float:left;height:52px;width:322px; overflow:hidden;}
.header h1 a{background:url(../images/logo_ty.png); text-indent:-9999px;}
:root .header h1 a{background:url(../images/logo_ty@2x.png);background-size: 322px 52px;}

.header .head_ad{float: right;}
.header a.head_and{width: 159px;height:57px;float:left;margin-left:15px;background:url(../images/header201206.gif) -160px -87px no-repeat; text-indent:-9999px}
.header .head_ad2{float:left;margin-left:15px;}

.logo_txt{height: 25px;float:left;border-left: 1px solid #ccc;font-size: 20px;font-family: "Microsoft YaHei";padding:12px 0 10px 10px;margin: 7px 0 0 15px;color: #666;}
.logo_txt:hover{text-decoration: none}



/*服务导航样式*/
.fwdh{ margin-top:10px}
.fwdh label{width: 70px;float:left;}
.fwdh p.fr{ width:890px;}
.fwdh p.fr a{ white-space:nowrap; }



/*版权位置*/
.copyright{
	text-align:center; 
	margin:10px auto;
	color:#999;
	position:relative; 
	overflow:inherit;
}
.copyright p{ 
	height:25px; 
	line-height:25px;  
}
.copyright p a{ 
	color:#999;
}


